.idea/inspectionProfiles/
myLaya2/.laya/
myLaya2/bin/img/
myLaya2/bin/js/
myLaya2/bin/res
myLaya2/laya/assets/img/walleticon/
myLaya2/release/

myLaya2/src/**/*.js
myLaya2/src/**/*.map

/.idea/workspace.xml
